@import '../../../assets/scss/all';

.card {
  border: 2px solid $secondary-color;
  border-radius: 1.5rem;
  box-shadow: $primary-box-shadow;
  padding: 1rem;
  position: relative;

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  &.is-payed {
    border: 2px solid $primary-color;

    .certification-number-section {
      .certification-number-title {
        border-color: $primary-color;
      }

      border-color: $primary-color;
    }

    .badge {
      background-color: $primary-color;
    }

    .button {
      background-color: $primary-color;
    }
  }

  .address-section {
    display: flex;
    align-items: center;
  }

  .certification-number-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 1.5rem;
    padding: 0 2rem;
    text-align: center;

    font-size: 1.4rem;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;

    .button {
      width: 9rem;
      font-size: 1.2rem;
      border-radius: 1rem;
      @include center-flex;
      justify-content: space-between;
    }
  }

  .badge {
    font-size: 1.3rem;
    font-family: SBaran, Kalameh, sans-serif;
    background-color: $secondary-color;
    color: $font-white-color;
    text-align: center;
    padding: 0.5rem 1rem;

    border-radius: 0.5rem;
    position: absolute;
    top: 3px;
    left: -14px;
    transform: rotate(-45deg);
  }

  .table {
    table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
      font-size: 18px;
      text-align: center;
    }

    th,
    td {
      padding: 12px 15px;
      border: 1px solid #ddd;
    }

    thead th {
      background-color: #d4793b;
      color: white;
    }

    tbody tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tbody tr:nth-child(odd) {
      background-color: #f9e6d4;
    }

    tbody td {
      background-color: white;
    }

    th:first-child,
    td:first-child {
      background-color: #e67e22;
    }

    th {
      font-weight: bold;
    }
  }
}
