@use '../../../assets/scss/constants/variables' as vars;
@use '../../../assets/scss/constants/colors' as colors;

.container {
   @media (min-width: vars.$desktop) {
      width: 95%;
   }

   .back-arrow {
      margin-bottom: 1rem;
   }
   .master-card {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__body {
         display: flex;
         flex-direction: column;
         justify-content: center;
         @media (min-width: vars.$desktop) {
            flex-direction: row;
            justify-content: space-between;
            margin: 2rem;
            gap: 6rem;
         }
      }
      &__info-card {
         font-size: 1.8rem !important;
         font-weight: 400;
         text-align: center;

         width: 20rem;
         padding: 1.9rem 0 1rem 0;
         align-self: center;
         margin-bottom: 1.5rem;
         @media (min-width: vars.$desktop) {
            flex: 0.5;
         }
      }
      &__info-card-body {
         @media (min-width: vars.$desktop) {
            width: 80%;
            padding-top: 2rem;
         }
      }
      &__info-row {
         background-color: rgba(colors.$primary-color, 0.05);
         padding: 0.2rem 0.5rem;
         border-bottom: 0.5px solid colors.$primary-color;
         @media (min-width: vars.$desktop) {
            margin: 3rem 0;
         }
      }
      &__payment-bills-container {
         border: 0.6px solid colors.$primary-color;
         border-radius: 1.5rem;
         @media (min-width: vars.$desktop) {
            flex: 1;
            max-height: 36rem;
            min-height: 36rem;
         }
      }
      &__payment-bills {
         width: 99%;
         margin-top: 1rem;
         height: 100%;
         padding-right: 1%;
         max-height: 20rem;
         overflow-y: scroll;
         display: flex;
         flex-direction: column;
         align-items: center;

         &::-webkit-scrollbar {
            width: 0.7rem;
         }

         &::-webkit-scrollbar-track {
            background: transparent;
         }

         &::-webkit-scrollbar-thumb {
            background-color: transparent;
            border: 1px solid colors.$primary-color;
            border-radius: 10px;
         }
         @media (min-width: vars.$desktop) {
            height: 100%;
            max-height: 34rem;
            padding-top: 2rem;
            &::-webkit-scrollbar {
               width: 1rem;
            }
         }
      }
   }
}
