@use '../../assets/scss/constants/variables' as vars;
@use '../../assets/scss/constants/colors' as colors;

.back-arrow {
   display: flex;
   align-items: center;
   gap: 1rem;

   .arrow {
      border-radius: 50%;
      width: 3rem; 
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   span {
      font-weight: 500;
      font-size: calc(2rem + 0.8vw);
   }

   &.pending {
      .arrow {
         background-color: colors.$secondary-color;
      }
   }

   &.paid {
      .arrow {
         background-color: colors.$primary-color;
      }
   }

   @media (min-width: vars.$desktop) {
      .arrow {
         width: 5rem;
         height: 5rem;

         img {
            width: 50%;
            height: 50%;
         }

         &:hover {
            cursor: pointer;
         }
      }
   }
}
