.defaultButton {
  box-sizing: border-box;
  min-width: fit-content;
  height: 4.7rem;
  min-height: 4.7;
  max-width: 100%;
  background: #3c3c3c;
  border: 0.2rem solid #3c3c3c;
  color: #fff;
  font-size: 2rem;
  text-align: center;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0 2rem;
  font-family: Vazirmatn;
  cursor: pointer;

  &:is(.outlined) {
    color: #3c3c3c;
  }

  &.success {
    background: #1ca421;
    border: 0.2rem solid #1ca421;
    &:is(.outlined) {
      color: #1ca421;
    }
  }

  &.error {
    background: #e05d5d;
    border: 0.2rem solid #e05d5d;
    &:is(.outlined) {
      color: #e05d5d;
    }
  }

  &.warning {
    border: 0.2rem solid #f4b301;
    background: #f4b301;
    &:is(.outlined) {
      color: #f4b301;
    }
  }

  &.disabled {
    border: 0.2rem solid #d9d9d9;
    background: #d9d9d9;
    cursor: not-allowed;
    &:is(.outlined) {
      color: #949294;
    }
  }

  &.outlined {
    background: transparent;
  }

  &.large {
    width: 20.1rem;
  }
  &.medium {
    width: 15rem;
  }
  &.small {
    width: 8.8rem;
  }

  &.noBorder {
    border: 0;
    text-decoration: underline;
    font-weight: 700;
  }

  &.withIcon {
    justify-content: space-between;
  }

  &.noMargin {
    margin: 0;
  }

  &.fullWidth {
    width: 100%;
  }

  &:hover:not(.disabled):not(.noBorder) {
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.25);
  }
}
