.fullscreen-loading-component {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  // max-width: 1920px;
  background-color: #d3d3d3;
  margin: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  z-index: 10000;
  &__massage {
    position: absolute;
    margin-top: 20rem;
    &__content-massage {
      font-size: 1.6rem;
      font-family: 'VAZIR';
    }
  }
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    width: fit-content;
    div {
      width: 4rem;
      height: 4rem;
      margin-right: 7rem;
      background-color: #c4c4c4;
      border: 1px solid #c4c4c4;
      border-radius: 50%;
      &.first-circle {
        margin-right: 0rem;
      }
      &.animate-me {
        -webkit-animation: bgcolorchange 1.5s infinite ease-in-out; /* Chrome, Safari, Opera */
        animation: 1.5s infinite bgcolorchange;
        &.first {
          animation-delay: 0.5s;
        }
        &.second {
          animation-delay: 1s;
        }
      }
      @keyframes bgcolorchange {
        25% {
          transform: translate(0, 0);
          background-color: #fff;
          border: 1px solid #fff;
          width: 7rem;
          height: 7rem;
        }
        50% {
          transform: translate(0, 0);
          background-color: #fff;
          border: 1px solid #fff;
          width: 7rem;
          height: 7rem;
        }
        75% {
          transform: translate(0, 0);
          background-color: #c4c4c4;
          border: 1px solid #c4c4c4;
          width: 4rem;
          height: 4rem;
        }
        100% {
          transform: translate(0, 0);
          background-color: #c4c4c4;
          border: 1px solid #c4c4c4;
          width: 4rem;
          height: 4rem;
        }
      }
      /* Chrome, Safari, Opera */
      @-webkit-keyframes bgcolorchange {
        25% {
          transform: translate(0, 0);
          background-color: #fff;
          border: 1px solid #fff;
          width: 7rem;
          height: 7rem;
        }
        50% {
          transform: translate(0, 0);
          background-color: #fff;
          border: 1px solid #fff;
          width: 7rem;
          height: 7rem;
        }
        75% {
          transform: translate(0, 0);
          background-color: #c4c4c4;
          border: 1px solid #c4c4c4;
          width: 4rem;
          height: 4rem;
        }
        100% {
          transform: translate(0, 0);
          background-color: #c4c4c4;
          border: 1px solid #c4c4c4;
          width: 4rem;
          height: 4rem;
        }
      }
    }
  }
}
