.userAccessbility-option {
  font-size: 2rem;
  color: #000000;
  .userAccessbility-option {
    .userAccessbility-option__box {
      padding-right: 4rem;
    }
    .userAccessbility-option {
      .userAccessbility-option__title {
        padding-right: 8rem;
      }
    }
  }
  &__parent {
    cursor: pointer;
    img {
      margin-left: 1.5rem;
    }

    span {
      font-size: 2rem;
      font-weight: 700;
      color: #000000;
    }
    .userAccessbility-option__arrow-up {
      transform: rotateX(180deg);
    }
  }
  &__box {
    padding: 1.6rem 3rem;
    border-bottom: 1px solid #d9d9d9;

    &--checkbox {
      padding: 0.9rem 4.8rem;
    }

    &--disable {
      .userAccessbility-option__parent {
        span {
          color: #808080;
        }
      }
    }
  }
}
