.usermanagement-userAccessbility {
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__cards {
    display: flex;
    justify-content: space-around;
  }

  &__radiobutton-formcontrol {
    width: 100%;

    .MuiFormControlLabel-root {
      padding: 2.5rem 3rem;
      border-bottom: 1px solid #d9d9d9;

      .MuiFormControlLabel-label {
        font-size: 2rem;
        font-weight: 700;
        color: #000000;
      }
    }
    
    &--disabled {
      .MuiFormControlLabel-label {
        font-size: 2rem;
        font-weight: 700;
        color: #808080;
      }
    }
  }

  &__buttons {
    display: flex;
    align-self: center;
    justify-content: space-between;

    width: 38.3rem;

    margin-top: 1.5vh;
  }
}
