@use '../../assets/scss/constants/colors' as colors;

.button {
   font-family: BNazanin, sans-serif;
   font-size: 2.5rem;
   font-weight: 400;

   color: colors.$font-white-color;
   background-color: colors.$secondary-color;
   border: none;
   border-radius: 1.5rem;
   padding: 1rem;

   cursor: pointer;
   transition: 450ms ease-in;
}
.button-loading {
   width: 5rem;
   height: 5rem;
}
