.tooltipContainer {
  width: 100%;
  position: relative;
  .text {
    visibility: hidden;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(calc(-100% - 10px));
    z-index: 1;
  }
  .pointContainer {
    position: relative;
    width: 100%;
    .point {
      visibility: hidden;
      width: 0;
      height: 0;
      border: 7px solid transparent;
      border-bottom: 0;
      border-top: 14px solid black;
      position: absolute;
      bottom: -25px;
      left: 0;
      right: 0;
      margin: auto;
      transform: translateY(-50%);
    }
  }
  &:hover .text,
  &:hover .point {
    visibility: visible;
  }
}
