@use '../../../../assets/scss/constants/colors' as colors;

.payment-detail__row {
  width: 70%;
  padding: 0 1rem;
  background-color: rgba(colors.$primary-color, 0.051);
  border-bottom: 1px solid colors.$primary-color;
  margin-bottom: 1rem;
}