@use '../../../assets/scss/mixin/common' as mixins;
@use '../../../assets/scss/constants/variables' as vars;
@use '../../../assets/scss/constants/colors' as colors;
#header {
   @media (min-width: vars.$desktop) {
      height: 100vh;
      background-color: orangered;
      border-radius: 1.5rem 0 0 1.5rem;
      right: 0;
      background-color: colors.$primary-color;

      width: 55rem;
      transition: width 0.5s ease-in-out;
      h1 {
         margin-top: 29.6vh;
         font-size: 4.5rem;
         font-weight: 400;
         line-height: 4.5rem;
         text-align: center;
         width: 43rem;
         font-family: 'BNazanin';
      }

      #header-badge {
         width: 20rem;
         height: 20rem;
         position: absolute;
         top: 50%;
         left: 0;
         transform: translate(-50%, -50%);
         img {
            width: 13.716rem;
            height: 10rem;
         }
      }
   }
}
.confirmation-entry {
   display: flex;
   flex-direction: column;
   align-items: center;
   @media (min-width: vars.$desktop) {
      margin-right: 13.5vw;
   }
   &__title {
      font-family: SBaran;
      font-size: 6rem;
      font-weight: 400;
      text-align: center;
      color: colors.$font-white-color;
   }
   .form {
      width: 89vw;
      border: 2px solid #ffffff;
      box-shadow: vars.$primary-box-shadow;
      border-radius: 1.5rem;
      @include mixins.center-flex;
      flex-direction: column;
      padding: 5vh 0;
      margin-top: 6vh;
      @media (min-width: vars.$desktop) {
         width: 50rem;
         padding: 12vh 2.5rem 8vh 2.5rem;
      }
      h4 {
         font-family: BNazanin, sans-serif;
         font-size: 2.5rem;
         font-weight: 400;
         text-align: center;
         color: colors.$font-white-color;
         @media (min-width: vars.$desktop) {
            font-size: 4rem;
         }
      }

      .otp-input {
         margin-top: 1.5rem;
         margin-bottom: 4rem;
         @media (min-width: vars.$desktop) {
            margin-top: 8.5vh;
            margin-bottom: 6vh;
         }
      }

      .input {
         font-family: BNazanin, sans-serif;
         font-size: 2.5rem;
         font-weight: 400;
         text-align: center;
         color: colors.$font-white-color;
         border: 1px solid #ffffff;

         border-radius: 0.5rem;
         width: 2.5rem;
         height: 3rem;
         background-color: transparent;
         padding: 0;

         &:not(:last-of-type) {
            margin-right: 1rem;
         }
         @media (min-width: vars.$desktop) {
            font-size: 4.5rem;
            width: 4.5rem;
            height: 6rem;
            border-width: 2px;
            &:not(:last-of-type) {
               margin-right: 2rem;
            }
         }
      }

      .submit-button {
         width: 56.25%;
         border: none;

         @media (min-width: vars.$desktop) {
            width: 45%;
            font-size: 3.5rem;
         }
      }
   }
   &__link {
      font-size: 2rem;
      font-weight: 400;
      text-align: center;
      margin-bottom: 3rem;
      margin-top: 1rem;

      text-decoration: underline;
      color: colors.$font-white-color;
      text-underline-offset: 1.3rem;
      cursor: pointer;
      @media (min-width: vars.$desktop) {
         font-size: 2.5rem;
         margin-bottom: 3.5rem;
      }

      span {
         color: colors.$font-white-color;
      }
   }
}
