* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$base-font-size: 62.5%;

//@each $width, $size in $breakpoints {
//@media (max-width: #{$width}px) {
//  html {
//    font-size: #{$size}%; // Ensure correct interpolation and termination}
//  }
//}
html {
  font-size: 62.5%;
  @each $width, $size in $breakpoints {
    @media (max-width: $width) {
      font-size: $size;
    }
  }
  @media (max-width: $desktop) {
    font-size: 62.5%;
  }

  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
  }

  ::placeholder {
    color: #000 !important;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #000 !important;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #000 !important;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f3f3f3;
    border-radius: 10px;
    padding: 10px !important;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(76, 112, 243, 0.5);
    border-radius: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(76, 112, 243, 0.7);
  }
}

@media (max-width: 1920px) {
  html {

  }
}

//@media (max-width: 767px) {
//  html {
//    font-size: calc(62.5 * 0.9);
//  }
//}
body {
  font-size: 1.6rem;
  font-family: BNazanin, Kalameh, sans-serif;
  background-color: rgba($color: #d9d9d9, $alpha: 0.1);
  direction: $direction;

  .swal2-popup,
  .swal2-confirm,
  .swal2-cancel,
  .swal2-deny {
    font-size: 2.4rem !important;
    font-family: Vazirmatn;
  }

  .swal2-confirm {
    background-color: #1ca421 !important;
  }

  .swal2-cancel {
    background-color: #0f3bde !important;
  }

  .swal2-deny {
    background-color: transparent !important;
    color: #e05d5d !important;
    border: 1px solid #e05d5d !important;
  }
}
