.input {
  .MuiFormLabel-root,
  .MuiFormLabel-root.Mui-focused {
    color: #000000;
    font-weight: 700;
    font-size: 2rem;
    top: -0.3rem;
    margin-right: 0.15em;
  }
  .MuiInputBase-root {
    border-color: #000000;
  }

  .MuiInputBase-root.MuiOutlinedInput-root {
    border-radius: 10px;
  }

  .MuiInputBase-root.Mui-focused .MuiOutlinedInput-notchedOutline,
  .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
    border-color: #000000;
  }

  .MuiOutlinedInput-notchedOutline legend {
    font-size: 1em;
  }

  &__searchIcon {
    height: 100%;

    display: flex;
    align-items: center;

    cursor: pointer;

    &--disable {
      opacity: 0.3;
      cursor: not-allowed;
    }
  }
}
// @media screen and (max-width: 1600px) {
//   .input {
//     * {
//       font-size: 90% !important;
//       font-weight: 400;
//     }
//     .MuiInputBase-root {
//       * {
//         font-size: 1.6rem;
//       }
//       height: 4.8rem !important;
//       // width: 60% !important;
//     }
//   }
// }
