.headerContainer {
  position: sticky;
  top: 0;
  width: 100%;
  min-width: max-content;
  background-color: #fff;
  color: #fff;
  z-index: 1;
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 45% !important;
  }
}
