.SSNNumberStyle {
   flex-direction: column;
   padding: 1.5rem;
   &_firstSection,
   &_secondSection {
      display: flex;
   }
   label {
      font-size: 1.3rem !important;
   }
   &__fieldset {
      margin-right: 0.5rem;
      .fieldset__input {
         height: 100%;
         font-size: 2rem;
      }
      &--large {
         .fieldset__input {
            width: 10rem;
            height: 100%;
         }
         width: 8rem;
      }
   }
}
