.verification-code-entry {
      flex: 0.5;
      display: flex;
      align-items: center;
      justify-content: center;


      &__title {
            font-family: Kalameh, sans-serif;
            font-size: 2.4rem;
            font-weight: 600;
            color: white;
            margin-left: 8rem;
            z-index: 1;
      }
      
 
      &__sperated-input {
            margin-top: 4rem;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
      }
      &__input {
            font-family: Kalameh;
            font-size: 2.4rem;
            font-weight: 600;

            color: #f4f4f4;
            background-color: transparent;
            border: 1px solid #e3fe55;
            border-radius: 2.5rem;
            outline: none;
            position: relative;
            padding: 3rem 0rem;
            height: auto;
            text-align: center;
            width: 7.4rem;
            margin-right: 1.5rem;
            z-index: 1;
            &::placeholder {
                  color: #f4f4f4 !important;
            }
            &:focus {
                  border-color: white;
            }
      }

      &__submit-button {
            padding-right: 0;
            padding-left: 0;
            width: 17.3rem;
            margin-top: 8rem;
            z-index: 1;
      }
}
