@use '../../assets/scss/constants/variables' as vars;
@use '../../assets/scss/constants/colors' as colors;
@use '../../assets/scss/mixin/common' as mixins;

.info-card {
   margin-top: 1.5rem;
   @include mixins.center-flex;
   flex-direction: column;
   border: 0.6px solid colors.$secondary-color;
   border-radius: 1rem;
   position: relative;
   padding-top: 2.7rem;

   &.primary-info-card {
      border-color: colors.$primary-color;
      .title {
         border-color: colors.$primary-color;
      }
   }
   .title {
      border: 0.5px solid colors.$secondary-color;
      padding: 0rem 0.6rem;

      border-radius: 0.5rem;
      background-color: colors.$bg-color;

      @include mixins.center-flex;
      position: absolute;
      top: -1.3rem;
      @media (min-width: vars.$desktop) {
         top: -2.7rem;
         font-size: 2.7rem;
      }
   }

   .body {
      text-align: center;

      font-size: 1.4rem;
      padding: 1rem 0;
      @media (min-width: vars.$desktop) {
         font-size: 2.6rem;
      }
   }
}
