.subsystemDetailsPage {
   display: flex;
   width: 100%;
   height: 90vh;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   z-index: -2;
   background-color: #fdfcfa !important;
   .logoes {
      display: flex;
      align-items: center;
      img {
         height: 5rem;
         margin: 0 1rem;
      }
   }
   .headerSection {
      display: flex;
      width: 100%;
      height: 25%;
      .mainDiv {
         display: flex;
         justify-content: center;
         align-items: center;
         overflow: auto;
         flex-direction: column;
         width: 100%;
         height: 100%;
         border-radius: 0px 0px 3.5rem 3.5rem;
         background: #eaecee;
         .back {
            position: fixed;
            top: 1.2rem;
            left: 2rem;
            bottom: calc(100vh - 5rem);
            right: calc(100vw - 5rem);
            background: transparent;
            outline: none;
            border: none;
            font-size: 2rem;
            font-weight: 700;
         }
         .innerSection1 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 40%;
            border-bottom: 0.1rem solid #c2d2db;
         }
         .innerSection2 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            height: 60%;
            .infoSection {
               display: flex;
               width: 100%;
               height: 80%;
               border-radius: 25px;
               background: #fdfcfa;
               box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.15);
               .infoText {
                  display: flex;
                  align-items: center;
                  color: #626b70;
                  text-align: center;
                  font-size: 1.2rem;
                  font-style: normal;
                  font-weight: 400;
                  line-height: normal;
               }
            }
         }
      }
   }
   .mainBillSection {
      width: 100%;
      height: 70%;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 1rem;
      .card__caption {
         width: 80%;
         color: #239e3f;
         border-bottom: 1px solid #239e3f;
         text-align: center;
      }
   }

   &__card,
   &__paied_card {
      background-color: #eaecee;
      width: 90vw;
      margin-top: 3rem;
      h3 {
         color: black;
      }
      .SSNNumberStyle {
         color: black;
         // border-color: #000000;
         .SSNNumberStyle__input {
            color: black;
         }
         .fieldset__input {
            color: black;
         }
      }

      .card__icon {
         path {
            fill: #000000;
         }
      }
   }

   &__paied_card {
      background-color: #e3fe55;
      .SSNNumberStyle {
         color: black;
         border-color: #000000 !important;
         .fieldset {
            border: 1px solid #000000 !important;
         }
      }
   }
}
