@import '../../assets/scss/all';

.header {
  @include small-header;
}

.layout {
  margin-top: 20vh;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  .welcome-text {
    background-color: $primary-color;
    padding: 1.7rem 0.5rem;
    font-size: 1.7rem;
    font-family: 'B Nazanin', sans-serif;
    color: $font-white-color;
    border-radius: 1rem;
    margin-bottom: 4rem;
  }

  .coming-soon-text {
    width: 100%;
    font-size: 4rem;
    padding: 2rem 0;
    border: 1px solid $secondary-color;
    text-align: center;
    border-radius: 1rem;
  }
}
