@import '../../../../assets/scss/all';
.payed-bill {
   padding: 1rem;
   background-color: rgba($primary-color, 0.05);
   border-right: 1rem solid $primary-color;
   border-radius: 1rem;
   grid-template-columns: 15% 1fr 1fr;
}
