@use '/src/assets/scss/constants/colors' as colors;

#infoCardStyleWrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   min-height: 8rem;
   min-width: 10rem;
   border: 2.5px solid colors.$primary-color;
   border-radius: 1.5rem;

   #copySection {
      width: 10rem;
      height: 8rem;
      border-radius: 1.5rem 0 0 1.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: colors.$primary-color;
   }
}
