@use '../../assets/scss/constants/variables' as vars;

.address-section {
   display: flex;
   align-items: center;

   span {
      font-size: 1.7rem;
      margin-right: 0.3rem;
      @media (min-width: vars.$desktop) {
         font-size: 3rem;
      }
   }
}
