@mixin center-flex {
   display: flex;
   align-items: center;
   justify-content: center;
}

@mixin small-header {
   height: $small-header-height;
   h1 {
      margin-top: 2vh;
      margin-bottom: 0;
   }
}
