@import '../../assets/scss/all';

.tableContainer {
   border-radius: 1rem;
   overflow: hidden;
   border: 2px solid $secondary-color;
   box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.tableHeader {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   text-align: center;
   direction: rtl;
   background-color: #e07d47;
   color: $font-white-color;
   @media (min-width: $desktop) {
      font-size: 2.5rem;
   }
}

.tableBody {
   font-size: 1.5rem;
   max-height: 28vh;
   overflow-y: scroll;
   min-height: 8rem;
   overflow-x: hidden;
   .tableLoading {
      width: 6rem;
      height: 6rem;
      margin-top: 1rem;
   }
   @media (min-width: $desktop) {
      font-size: 2.5rem;
      max-height: 35vh;
   }
   &::-webkit-scrollbar {
      width: 12px;
   }

   &::-webkit-scrollbar-track {
      background: rgba(
         $secondary-color,
         0.2
      ); // Light background for the scrollbar track
   }

   &::-webkit-scrollbar-thumb {
      background-color: #e07d47; // Matches the orange theme
      border-radius: 6px;
      border: 3px solid rgba($secondary-color, 0.2); // Space around the thumb for a cleaner look
   }

   scrollbar-width: thin;
   scrollbar-color: #e07d47 rgba($secondary-color, 0.2);

   .tableRow {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      .tableCell {
         @include center-flex;
         border-left: 1.3px solid #000000;

         &:last-child {
            border-left: none;
         }
      }

      &.evenRow {
         background-color: #fff;
      }

      &.oddRow {
         background-color: rgba($secondary-color, 0.5);
      }
   }
}

.tableCell {
   padding: 1rem 0.5rem;
   text-align: center;
   border-left: 1.3px solid #ffffff;
   @media (min-width: $desktop) {
      padding: 0.5rem 0rem;
   }
}
