@use '/src/assets/scss/constants/variables' as vars;
@use '/src/assets/scss/constants/colors' as colors;

.footer {
   position: sticky;
   top: 13vw;
   height: 60rem;
   width: vars.$desktop-footer-width;
   background-color: colors.$primary-color;
   border-radius: 1.5rem 0 0 1.5rem; 
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 0.5s ease;
   user-select: none;
   .active-indicator {
      position: absolute;
      top: 0rem;
      transform: translateY(02.2rem);
      background-color: white;
      border-radius: 50%;
      width: 6rem;
      height: 6rem;
      pointer-events: none;
      z-index: -1;
      transition: transform 0.2s ease-in-out;
   }
   .navbar {
      height: 100%;
      width: 100%;
      padding-left: 1rem;
      transition: all 0.5s ease;

      ul,
      li {
         list-style: none;
      }

      ul {
         width: 100%;
         height: 100%;
         display: flex;
         flex-direction: column;
         align-items: center;
         transition: all 0.5s ease;

         li {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: center;
            width: 5rem;
            height: 15rem;
            transition: all 0.5s ease;

            svg {
               transition: all 0.5s ease;
            }

            span {
               font-size: 2.8rem;
               font-weight: 400;
               line-height: 3rem;
               text-align: center;
               color: colors.$bg-color;

               transition: all 0.5s ease;
            }

            &:hover {
               cursor: pointer;
            }
         }
         li:nth-child(1).active ~ .active-indicator {
            transform: translateY(2.2rem + (10rem * 0));
         }
         li:nth-child(2).active ~ .active-indicator {
            transform: translateY(2.2rem + (10rem * 1));
         }
         li:nth-child(3).active ~ .active-indicator {
            transform: translateY(2.2rem + (10rem * 2));
         }
         li:nth-child(4).active ~ .active-indicator {
            transform: translateY(2.2rem + (10rem * 3));
         }
         li:nth-child(5).active ~ .active-indicator {
            transform: translateY(2.2rem + (10rem * 4));
         }
         li:nth-child(6).active ~ .active-indicator {
            transform: translateY(2.2rem + (10rem * 5));
         }
      }
   }

   .drawerClicker {
      position: absolute;
      width: 7rem;
      height: 7rem;
      background-color: colors.$bg-color;
      border: 2.5px colors.$secondary-color solid;
      left: -4rem;
      border-radius: 100%;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .cross {
         width: 70%;
         height: 0.3rem;
         background-color: colors.$secondary-color;
         transition: all 0.5s ease;
         position: absolute;

         &:first-child {
            rotate: 45deg;
         }
         &:last-child {
            rotate: -45deg;
         }
      }

      .line {
         width: 70%;
         height: 0.3rem;
         background-color: colors.$primary-color;
         transition: all 0.5s ease;

         &:nth-child(2) {
            margin: 0.5rem 0;
         }
      }

      &:hover {
         cursor: pointer;
      }
   }

   &.drawerActive {
      width: 28rem;

      .navbar {
         ul {
            .active-indicator {
               width: 25rem;
               height: 6rem;
               border-radius: 3rem;
            }
            li {
               width: 22rem;
               height: 15rem;
               justify-content: space-between;
               padding: 0.5rem;
            }
            li.active {
               span {
                  color: black;
               }
            }
         }
      }
   }
}
