.mainLeftSideWrapper {
  width: 100%;
  min-width: 20rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2.5rem 2rem;
  gap: 2rem;
  overflow: auto;
  * {
    font-size: 1.8rem !important;
  }
  .fullWidth {
    width: 100% !important;
  }
  .twoButtonContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    button {
      width: fit-content !important;
    }
  }
}
