.topBarWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .buttonContainer {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    padding: 0 2rem;
    gap: 3rem;
    & > button {
      min-width: fit-content;
    }
  }
}
@media screen and (max-width: 999px) {
  .topBarWrapper {
    .buttonContainer {
      justify-content: center;
      margin-bottom: 3rem;
    }
  }
}
