@import '../../../assets/scss/all';

.header-badge {
   width: 7rem;
   height: var(--badge-height);
   background-color: $bg-color;
   box-shadow: $primary-box-shadow;
   border-radius: 50%;
   border: 2.5px solid $secondary-color;
   margin-top: auto;
   margin-bottom: calc(-1 * var(--badge-height) / 2);

   @include center-flex;
   @media (min-width: $desktop) {
      width: 14rem;
      height: var(--badge-height);
   }
   img {
      width: 4.7rem;
      height: 3.5rem;
      margin: 0 auto;
      @media (min-width: $desktop) {
         width: 10.7rem;
         height: 7rem;
      }
   }
}
