@import '/src/assets/scss/all';

#header {
   @include small-header;
}

#paymentStatusStyleWrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   @include default-layout;
}
