.bodyContainer {
  html {
    font-size: 57%;
  }
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  &.disabled {
    position: relative;
    z-index: 0;
  }
}
@media screen and (max-width: 1600px) {
  html {
    font-size: 45% !important;
  }
}
