@use '../../../assets/scss/constants/colors' as colors;
@use '../../../assets/scss/constants/variables' as vars;
@use '../../../assets/scss/mixin/common' as mixins;

$badge-height: 7rem;

.badge {
   width: 7rem;
   height: $badge-height;
   background-color: colors.$bg-color;
   margin-bottom: calc(-1 * var(--badge-height) / 2);
   border: 2px solid colors.$primary-color;
   border-radius: 50%;
   @include mixins.center-flex;

   flex-direction: column;
   font-size: 2.5rem;
   font-weight: 400;
   text-align: center;
   line-height: 2rem;
   transition: transform 0.3s ease;
   opacity: 0;
   animation: fadeIn 0.3s 300ms forwards;
   margin-top: auto;
   @media (min-width: vars.$desktop) {
      $badge-height: 20rem;
      font-size: 5rem;
      line-height: 5rem;
      height: $badge-height;
      width: 20rem;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
   }
   @keyframes fadeIn {
      from {
         opacity: 0;
      }
      to {
         opacity: 1;
      }
   }
}
