@import '../../assets/scss/all';

#header {
  @include small-header;
}

.layout {
  @include default-layout;

  .certification-number-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 1.5rem;
    padding: 0 2rem;
    text-align: center;

    font-size: 1.4rem;
  }
}
