@import '../../assets/scss/all';

#header {
   @include small-header;
}

.layout {
   @include default-layout;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 3rem;

   @media (min-width: $desktop) {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
   }
}
