.guildCard {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 2.8rem 2.2rem 1.9rem 3.5rem;
   border: 1px solid #ffffff;
   border-radius: 2.5rem;
   width: 100%;
   color: white;

   font-family: Kalameh;
   font-size: 2rem;
   font-weight: 600;

   &__header {
      display: flex;
      align-items: center;
      justify-self: flex-end;
      width: 100%;
      svg {
         margin-left: 1.2rem;
      }
   }

   &__kind {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 3rem;
      padding: 4rem 1rem 0 1rem;
      color: #ffffff;
   }
   &__input-wrapper {
      margin-top: 3rem;
      width: 100%;

      box-shadow: 0px 4px 4px 0px #00000040;
      border-radius: 2.5rem;
      legend {
         font-family: Kalameh;
         font-size: 1.6rem;
         font-weight: 600;
      }
   }
   &__input {
      width: 6.2rem;
      border-radius: 1.5rem;
      height: 4rem;
      padding: 0;
      font-size: 1.6rem;
      text-align: center;
      border: 1px solid white;
      &:not(:last-child) {
         margin-left: 1.5rem;
      }
   }

   &__button {
      background: #3c3c3c;
      width: 31rem;
      margin-top: 2.5rem;
      color: white;
      box-shadow: 2px 1px 7px 0px #ffffff75;
      border: none;
      &:hover {
         background-color: #3c3c3c;
      }
   }

   &--payed {
      border: 1px solid #e3fe55;
      color: #e3fe55;

      .guildCard__icon {
         path {
            fill: #00ff0a;
         }
      }
      .guildCard__button {
         background: black;
      }
      .guildCard__property-number--payed {
         border: 1px solid #e3fe55;
         .SSNNumberStyle__fieldset {
            border: 1px solid #e3fe55;
         }
      }
   }

   &__caption {
      color: #00ff0a;
      margin-top: 3.8rem;
      font-family: Kalameh;
      font-size: 2.4rem;
      font-weight: 600;
   }
}
