.MuiAutocomplete-root {
  
  & > :is(.selectBox__input--stand-alone-title) {
    margin-top: 3rem;
  }
}

.selectBox__input {
  border: 1px solid black;

  .MuiFormLabel-root {
    color: black;
    font-size: 2rem;
    font-weight: 700;
  }

  .MuiFormLabel-root.Mui-focused {
    color: black;
  }

  .MuiInputBase-root .MuiOutlinedInput-notchedOutline {
    border: 1px solid black;
    border-radius: 10px;
  }
  .MuiInputBase-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border: 1px solid black;
  }
  .MuiInputBase-root legend {
    font-size: 1em;
  }
}

.selectBox__input--stand-alone-title {
  .MuiFormLabel-root {
    top: -2.5rem;
  }
  .MuiInputBase-root legend {
    font-size: 0;
    display: none;
  }
}

.selectBox__user-image {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 7px;
  margin-left: 3.5rem;
}

.selectBox__list-item:not(:last-child) {
  border-bottom: 1px solid black;
}

.selectBox__popper {
  border: 1px solid black;
  border-radius: 1rem;
  margin-top: 1rem !important;
  overflow: hidden;
  z-index: 10;
}
