@import '../../../assets/scss/all';

#footerStyleWrapper {
   width: 100%;
   height: $footer-height;
   box-shadow: $primary-box-shadow;
   border-radius: 2rem 2rem 0 0;
   background-color: $primary-color;

   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: space-evenly;

   position: fixed;
   bottom: 0;
   left: 0;
   color: $font-white-color;
   span {
      font-size: 1.1rem;
      margin-top: 0.5rem;
   }

   .footerIcon {
      display: flex;
      flex-direction: column;
      align-items: center;
      transform: translateY(0) scale(1);

      .footerIconSize {
         width: 3.2rem;
         height: 3.2rem;
      }

      .title {
         font-size: 1.1rem;
         font-weight: 400;
         line-height: 1.1rem;
         text-align: center;
      }

      &.hasAnimation {
         width: 7rem;
         height: 7rem;
         border: 0.2rem solid rgba(211, 104, 43, 1);
         border-radius: 100%;
         background-color: $bg-color;
         opacity: 0;
         justify-content: center;
         animation: iconMoveUpAndGrow 0.5s ease-out forwards;

         .title {
            animation: hideMessage 1s ease-out forwards;
         }
      }

      .icon {
         transform: scale(1.5);
      }
   }
}

@keyframes iconMoveUpAndGrow {
   0% {
      transform: translateY(0) scale(1);
      opacity: 0;
   }
   100% {
      transform: translateY(-2.5rem) scale(1.2);
      opacity: 1;
   }
}

@keyframes hideMessage {
   0% {
      transform: translateY(0) scale(1);
      opacity: 1;
   }
   100% {
      transform: translateY(0) scale(1.2);
      opacity: 0;
   }
}
