@import '../../../assets/scss/all';

#footerStyleWrapper {
   width: 100%;
   height: $footer-height;
   box-shadow: $primary-box-shadow;
   border-radius: 2rem 2rem 0 0;
   background-color: $primary-color;

   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: space-evenly;

   position: fixed;
   bottom: 0;
   left: 0;
   color: $font-white-color;
   span {
      font-size: 1.1rem;
      margin-top: 0.5rem;
   }

   .footerIcon {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 7rem;

      .footerIconSize {
         width: 3.2rem;
         height: 3.2rem;
      }

      .title {
         font-size: 1.1rem;
         font-weight: 400;
         line-height: 1.1rem;
         text-align: center;
      }

      &.active {
         width: 7rem;
         height: 7rem;
         opacity: 1;
         justify-content: center;
         transform: translateY(-2.5rem) scale(1.2);
         animation: iconMoveUpAndGrow 0.4s ease;

         .title {
            opacity: 0;
         }
      }

      &.selectedIconAnimation {
         animation: iconMoveUpAndGrow 0.8s forwards;
      }

      .icon {
         width: 2.4rem;
         height: 2.4rem;
         z-index: 999;
      }
   }

   .activatedIcon {
      display: flex;
      position: absolute;
      width: 7rem;
      height: 7rem;
      border: 0.2rem solid $secondary-color;
      border-radius: 100%;
      background-color: $bg-color;
      justify-content: center;
      // bottom: 0;
      transform: translateY(-2.5rem) scale(1.2);
      transition: left 0.4s ease;
   }

   @media (min-width: $desktop) {
      top: 50%;
      right: 0;
      height: 80rem;
      width: 14rem;
      border-radius: 1.5rem 0 0 1.5rem;
      flex-direction: column;
      transform: translateY(-50%);

      .footerIcon {
         // flex-direction: row-reverse;
         height: 6rem;
         margin-left: 1rem;

         .footerIconSize {
            width: 6rem;
            height: 6rem;
         }

         .icon {
            width: 6rem;
            height: 6rem;
            transform: none;
         }

         &.active {
            animation: none;
            transform: none;
            height: 6rem;
         }

         .title {
            display: none;
         }
      }

      .desktopDrawer {
         position: absolute;
         left: 0;
         width: 7.5rem;
         height: 7.5rem;
         border-radius: 100%;
         background-color: $bg-color;
         border: 0.25rem solid $secondary-color;
         transform: translateX(-50%);

         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 1rem;

         .hamburgerLines {
            width: 4rem;
            height: 0.3rem;
            background-color: $primary-color;
         }

         .crossLines {
            position: absolute;
            width: 4rem;
            height: 0.3rem;
            background-color: $primary-color;

            &:first-child {
               rotate: 45deg;
            }

            &:last-child {
               rotate: -45deg;
            }
         }
      }

      .activatedIcon {
         display: flex;
         position: fixed;
         width: 8rem;
         height: 8rem;
         border: none;
         border-radius: 100%;
         background-color: $bg-color;
         justify-content: center;
         margin-left: 1rem;
         top: 0;
         transform: translateY(-100%) scale(1);
         transition: top 0.4s ease;
      }
   }
}

@keyframes iconMoveUpAndGrow {
   0% {
      transform: translateY(0) scale(1);
      opacity: 0;
   }
   100% {
      transform: translateY(-2.5rem) scale(1.2);
      opacity: 1;
   }
}
