@use '/src/assets/scss/all' as styles;

#RenovationInfoCardStyleWrapper {
   width: 55rem;
   height: 15rem;
   display: flex;
   flex-direction: column;
   align-items: center;

   #botContent {
      width: 90%;
      height: 3rem;
      background: #2480940d;
      border-bottom: 0.1rem solid colors.$primary-color;
   }
}
