.changeNumberSection {
      display: flex;
      width: 100%;
      height: 100vh;
      flex-direction: column;
      z-index: -2;
      background-image: url(../image3.png);
      background-size: cover;
      background-repeat: no-repeat;
      justify-content: center;
      align-items: center;
      .back{
            position: fixed;
            top: 2.8rem;
            left: 1.7rem;
            bottom: calc(100vh - 5rem);
            right: calc(100vw - 5rem);
            background: transparent;
            outline: none;
            border: none;
            font-size: 2.5rem;
            font-weight: 700;
      }
      .dataSection {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 30rem;
            height: 42rem;
            border-radius: 25px;
            background: rgba(247, 247, 244, 0.66);
            .section1 {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                  width: 100%;
                  height: 35%;
                  gap: 1.5rem;
                  .textStyle {
                        // font-family: Kalameh;
                        font-size: 1.6rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                  }
            }
                     .section2 {
                  display: flex;
                  width: 100%;
                  height: 35%;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                  gap: 2rem;
                  .inerSec {
                        display: flex;
                        width: 100%;
                        height: fit-content;
                        padding-right: 3.6rem;
                        .textStyle2 {
                            //   font-family: Kalameh;
                              font-size: 1.3rem;
                              font-style: normal;
                              font-weight: 600;
                              line-height: normal;
                        }
                  }
                  .textBox {
                        display: flex;
                        width: 24.8rem;
                        height: 4.9rem;
                        border-radius: 1.5rem;
                        border: 0.15rem solid #000;
                        background: #e8eaed;
                        justify-content: center;
                        align-items: center;
                        .inpClass {
                              width: 98%;
                              height: 100%;
                              border: none;
                              border-radius: 1.5rem;
                              background: #e8eaed;
                              direction: LTR;
                              padding: 1rem;
                              outline: none;
                        }
                  }
            }
            .section3 {
                  display: flex;
                  width: 100%;
                  height: 30%;
                  justify-content: center;
                  align-items: center;
                  .buttonStyle {
                        width: 24.8rem;
                        height: 4.9rem;
                        border: none;
                        border-radius: 2rem;
                        background: #3c3c3c;
                        color: #fff;
                        // font-family: Kalameh;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                  }
            }
      }
}
