@use '../../assets/scss/constants/variables' as vars;
@use '../../assets/scss/constants/colors' as colors;
@use '../../assets/scss/mixin/common' as mixins;

.card {
   border: 2px solid colors.$secondary-color;
   border-radius: 1.5rem;
   box-shadow: vars.$primary-box-shadow;
   padding: 1rem;
   position: relative;
   width: 100%;

   @media (min-width: vars.$desktop) {
      width: 52rem;
      margin-left: 4rem;
   }

   // &:not(:last-of-type) {
   //    margin-bottom: 2rem;
   // }

   &.is-payed {
      border: 2px solid colors.$primary-color;

      .certification-number-section {
         .certification-number-title {
            border-color: colors.$primary-color;
         }

         border-color: colors.$primary-color;
      }

      .badge {
         background-color: colors.$primary-color;
         @media (min-width: vars.$desktop) {
            font-size: 2.4rem;
         }
      }

      .button {
         background-color: colors.$primary-color;
      }
   }

   .buttons {
      display: flex;
      margin-top: 1rem;

      &.spaceBetween {
         justify-content: space-between;
      }

      &.center {
         justify-content: center;
      }
      .button {
         width: 9rem;
         font-size: 1.2rem;
         border-radius: 1rem;
         @include mixins.center-flex;
         justify-content: space-between;
         @media (min-width: vars.$desktop) {
            width: 15rem;
            font-size: 2rem;
         }
      }
   }

   .badge {
      font-size: 1.3rem;
      font-family: SBaran, sans-serif;
      background-color: colors.$secondary-color;
      color: colors.$font-white-color;
      text-align: center;
      padding: 0.5rem 1rem;

      border-radius: 0.5rem;
      position: absolute;
      top: 3px;
      left: -14px;
      transform: rotate(-45deg);
      @media (min-width: vars.$desktop) {
         font-size: 2.4rem;
         padding: 0.2rem 1rem;
      }
   }
   .loading {
      width: 9rem;

      @media (min-width: vars.$desktop) {
         width: 15rem;
      }
   }
}
