@import '/src/assets/scss/all';

#paidBillsStyleWrapper {
   width: 100%;
   height: 17rem;
   box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, 0.25);
   border-radius: 1rem;
   display: flex;

   &:not(:last-of-type) {
      margin-bottom: 2rem;
   }

   #border {
      width: 1rem;
      height: 100%;
      border-radius: 0 1rem 1rem 0;
      background-color: $primary-color;
   }

   #container {
      flex: 1;
      border-radius: 1rem 0 0 1rem;
      background: #24809433;
   }

   @media (min-width: $desktop) {
      width: 90%;
      height: 37rem;

      #border {
         width: 2rem;
      }
   }
}
